/* gaming fum */

.gaming-fum {
    background-image: url("/static/images/fumo.png");
    background-repeat: no-repeat;
    width: 329px;
    height: 500px;
    margin: 0;
    padding: 0;
    position: absolute;
    filter: opacity(0.4);
}

.homepage-buttons {
    justify-content: center;
}

.homepage-text {
    text-align: center;
    font-size: 5rem !important;
}

.homepage-subtitle {
    text-align: center;
    font-size: 2rem !important;
}

.homepage-column {
    flex-grow: 1;
    z-index: 1;
}

.homepage-noti {
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    background-color: transparent !important;
}

.main-block {
    width: 1024px;
}

.my-con {
    margin: 0 0 0 0;
    width: 100%;
    max-width: inherit;
}

.user-dropdown {
    background-color: hsl(var(--main), 45%, 45%);
    margin: 0.5em;
    border-radius: 0.4em;
}

.user-dropdown:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.navbar-dropdown {
    width: unset;
}

#navbar {
    background-color: transparent !important;
}

@media screen and (max-width: 1023px) {
    #navbar {
        background-color: #343a40 !important;
    }

    .navbar-item.has-dropdown {
        background-color: transparent !important;
        margin: 0 !important;
    }

    .homepage-noti {
        position: relative;
    }
}

.hero.is-fullheight-with-navbar {
    min-height: 100vh !important;
}

#title,
#mascot {
    animation: appear 0.4s ease;
}

@-webkit-keyframes appear {
    0% {
        -webkit-transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 1023px) {
    .gulag-avatar {
        display: none;
    }
    #home-hero .columns.flex-vcenter {
        padding: 0 20px;
    }
    .main-block {
        width: initial;
        height: 285px;
    }

    #mascot {
        display: none !important;
    }
    .my-con {
        margin: 60px 0 0 0;
    }
    #home-hero {
        height: 300px;
    }
}

.splash {
    background: linear-gradient(45deg, #01f560, #761f1f, #01f560);
    background-size: 200% 200%;
    -webkit-animation: colors 13s ease infinite;
    animation: colors 13s ease infinite;
}

@-webkit-keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 5%;
    }
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 5%;
    }
}

.footer {
    margin: 0;
}