{% extends 'base.html' %}
{% block title %} Leaderboard {% endblock %}

{% block header %}
<script src="/static/js/asserts/vue.js"></script>
<script src="/static/js/asserts/vue-axios.js"></script>

<script>
    var mode = "{{ mode }}";
    var mods = "{{ mods }}";
    var sort = "{{ sort }}";
    var domain = "{{ domain() }}";
</script>

<link rel="stylesheet" href="/static/css/pages/leaderboard.css">
{% endblock %}

{% block content %}
<div id="app" :class="(load ? 'load' : '')">
    <div class="leaderboard-banner main-banner">
        <div class="main-selector">
            <a class="mode-select" v-bind:class="{ 'active': mode === 'std' }"
            @click="LoadLeaderboard('std', mods)">
                <i class="mode-icon mode-osu"></i><span class="modetext"> osu!</span>
            </a>
            <a class="mode-select" v-bind:class="{ 'active': mode === 'taiko', 'disabled': mods === 'ap' }"
            @click="LoadLeaderboard('taiko', mods)">
                <i class="mode-icon mode-taiko"></i><span class="modetext"> osu!taiko</span>
            </a>
            <a class="mode-select" v-bind:class="{ 'active': mode === 'catch', 'disabled': mods === 'ap' }"
            @click="LoadLeaderboard('catch', mods)">
                <i class="mode-icon mode-catch"></i><span class="modetext"> osu!catch</span>
            </a>
            <a class="mode-select" v-bind:class="{ 'active': mode === 'mania', 'disabled': mods === 'ap' || mods === 'rx' }"
            @click="LoadLeaderboard('mania', mods)">
                <i class="mode-icon mode-mania"></i><span class="modetext"> osu!mania</span>
            </a>
        </div>
        <div class="banner-text">Leaderboard</div>
        <div class="selector">
            <div class="left">
                <a class="simple-banner-switch" v-bind:class=" { 'active': mods === 'vn' }"
                @click="LoadLeaderboard(mode, 'vn')">Vanilla</a>
                <a class="simple-banner-switch" v-bind:class=" { 'active': mods === 'rx', 'disabled': mode === 'mania' }"
                @click="LoadLeaderboard(mode, 'rx')">Relax</a>
                <a class="simple-banner-switch" v-bind:class=" { 'active': mods === 'ap', 'disabled': mode === 'taiko' || mode === 'catch' || mode === 'mania'  }"
                @click="LoadLeaderboard(mode, 'ap')">Autopilot</a>
            </div>
        </div>
    </div>
    <div class="main-block">
        <div class="leaderboard-main-bg table-responsive">
            <div v-if="boards != {}">
                <table class="leaderboard-table table-responsive">
                    <thead>
                        <tr>
                            <th class="t-heading"> Rank </th>
                            <th class="t-heading t-heading--main"></th>
                            <th class="t-heading"> PP </th>
                            <th class="t-heading"> Accuracy </th>
                            <th class="t-heading"> Playcount </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(user) in boards" class="leaderboard-column">
                            <td class="column-player-rank">#<% user[`rank`] %>
                            </td>
                            <td class="column-player-name text-left">
                                <a :title="flags[user[`country`].toUpperCase()]"
                                    :style="'background-image: url(/static/images/flags/' + user[`country`].toUpperCase() + '.png)'"
                                    class="player-flag">
                                    <div class="flag-dropdown">
                                        <% flags[user[`country`].toUpperCase()] %>
                                    </div>
                                </a>
                                <a :href="'/u/'+user[`userid`]">
                                    <% user[`name`] %>
                                </a>
                            </td>
                            <td>
                                <% user[`pp`] %>pp
                            </td>
                            <td>
                                <% user[`acc`].toFixed(2) %>%
                            </td>
                            <td>
                                <% addCommas(user[`playcount`]) %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-else>
                <div class="text-center">
                    there are no players to display!
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/asserts/vue-flags.js"></script>
<script src="/static/js/pages/leaderboard.js"></script>
{% endblock %}
